version: "3.8"
services:
  chain_indexer:
    image: chain-indexer
    container_name: chain_indexer
    env_file: .env
    build:
      context: .
      dockerfile: ./chain-indexer/Dockerfile
    restart: unless-stopped
    ports:
      - "8765:8765"
    networks:
      - crux-net
  postgres:
    image: postgres:15
    container_name: cruxinsight-db
    env_file: .env
    volumes:
      - ./pdata/data:/var/lib/postgresql/data
      - ./sql/postgresql.conf:/etc/postgresql/postgresql.conf
    ports:
      - "5466:5432"
    restart: unless-stopped
    networks:
      - crux-net

networks:
  crux-net:
    driver: bridge
